body {
    padding: 40px;
}
.card{
    margin: 10px;
    height: 650px;
    position:relative;
}

.card-text{
    font-size: 14px;
    margin-right: 5px;
}

.card-img-top{
    height: 180px;
}

.text-gold {
    color: #FF6700 !important;
}

.text-blck{
    color: #000000;
    font-weight: bold;
}

.tour-list{
    padding-top: 30px;
}

.nav-link{
    margin: 0;
    padding: 0;
    color: #000000;
}

.price{
   color: #2B2927 ;
    margin-right: 2px;
    margin-left: 2px;
}

.bottom{
    position: absolute;
    bottom: 0;
    margin-top: 10px;
}

.btn{
    margin: 10px;
}

.btn-first{
    background: #7109AA linear-gradient(to top, #7109AA,#AD66D5);
    border: 2px solid #48036F;
    border-radius: 18px;
    transition: 0.8s!important;
}
.btn-first:hover{
    transition: 0.8s!important;
    border: 2px solid #AD66D5;
    background: #7109AA linear-gradient(to top, #AD66D5,#7109AA);
}


.btn-second{
    border-radius: 30px;
    background: #63ADD0 linear-gradient(to top right, #009999,#63ADD0);

}

.btn-second:hover{
    box-shadow: 1px 2px 5px 3px #63ADD0;
}

.btn-thrd{
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #007F16;
    border: 3px solid #007F16;
    transition: 1s;

}
.btn-thrd:hover {
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #007F16;
    border: 7px solid #007F16;
    transition: 1s;
}

.btn-fourth{
    background-color: #ffff;
    color : red;
    border:3px solid red;
    transition: 1s;
    border-radius: 0;

}



.btn-fourth:hover{
    background-color: red;
    color : #ffff;
    border:3px solid #ffff;
    transition: 1s;
}

@media screen and (max-width: 1196px) and (min-width: 481px ){
    .tour-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }
}

@media screen and (max-width: 1005px) and (min-width: 481px ){
    .tour-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;

    }
}


@media screen and (max-width: 480px){
    .tour-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
